name: Nix Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  nix:
    uses: mholtzscher/github-actions/.github/workflows/nix-build.yml@main
    with:
      cache-name: mholtzscher
    secrets:
      token: ${{ secrets.CACHIX_AUTH_TOKEN }}
