name: Nix Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  nix:
    uses: mholtzscher/github-actions/.github/workflows/nix-build.yml@main
    with:
      cachix-name: mholtzscher
    secrets:
      cachix-auth-token: ${{ github.event_name == 'push' && secrets.CACHIX_AUTH_TOKEN || '' }}
