name: Update Dependencies

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  update:
    uses: mholtzscher/github-actions/.github/workflows/update-deps.yml@main
    secrets:
      token: ${{ secrets.PAT }}
